In [446]:
import pandas as pd

In [447]:
import numpy as np

In [448]:
train = pd.read_csv(r"C:\Users\Admin\Desktop\Accenture\dataset\train.csv")
test = pd.read_csv(r"C:\Users\Admin\Desktop\Accenture\dataset\test.csv")

In [449]:
train.head()

,UID,comment,date,parent_comment,score
0,Tr-1,NC and NH.,2016-10,"Yeah, I get that argument. At this point, I'd ...",2
1,Tr-2,You do know west teams play against west teams...,2016-11,The blazers and Mavericks (The wests 5 and 6 s...,-4
2,Tr-3,"They were underdogs earlier today, but since G...",2016-09,They're favored to win.,3
3,Tr-4,"This meme isn't funny none of the ""new york ni...",2016-10,deadass don't kill my buzz,-8
4,Tr-5,I could use one of those tools.,2016-12,Yep can confirm I saw the tool they use for th...,6

In [450]:
train['month']=train['date'].apply(lambda x:x[-2:])

In [451]:
test['month']=test['date'].apply(lambda x:x[-2:])

In [452]:
df=train

In [453]:
df_1=test

In [454]:
df_1.head()

,UID,comment,date,parent_comment,month
0,Te-1,"Brb, gonna farm my homu",2016-10,So now I KNOW I've sold my soul to the Devil...,10
1,Te-2,TIL Russia is in Europe,2016-10,The entire CONTINENT of Europe? But arent they...,10
2,Te-3,Glad they filmed this with an 8mm.,2016-10,Girl drinks whole beer without using her hands,10
3,Te-4,But what about that cinematic feel?,2016-10,MRW someone defends 24 FPS over 60,10
4,Te-5,32 spots left as of today.,2016-10,Are there still spots open for this?,10

In [455]:
df['comment']=df['comment'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [456]:
df_1.isnull().sum()

UID               0
comment           2
date              0
parent_comment    0
month             0
dtype: int64

In [457]:
df_1['comment']=df_1['comment'].fillna("NA")

In [458]:
df_1['comment']=df_1['comment'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [459]:
df['parent_comment']=df['parent_comment'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df_1['parent_comment']=df_1['parent_comment'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [460]:
df['comment']=df['comment'].str.replace('<[^<]+?>', '')
df['parent_comment']=df['parent_comment'].str.replace('<[^<]+?>', '')
df_1['comment']=df_1['comment'].str.replace('<[^<]+?>', '')
df_1['parent_comment']=df_1['parent_comment'].str.replace('<[^<]+?>', '')

In [461]:
df['comment']=df['comment'].str.replace('[^\w\s]',' ')
df['parent_comment']=df['parent_comment'].str.replace('[^\w\s]',' ')
df_1['comment']=df_1['comment'].str.replace('[^\w\s]',' ')
df_1['parent_comment']=df_1['parent_comment'].str.replace('[^\w\s]',' ')

In [462]:
df['comment']=df['comment'].str.replace('\d+', '')
df['parent_comment']=df['parent_comment'].str.replace('\d+', '')
df_1['comment']=df_1['comment'].str.replace('\d+', '')
df_1['parent_comment']=df_1['parent_comment'].str.replace('\d+', '')

In [463]:
df.head()

,UID,comment,date,parent_comment,score,month
0,Tr-1,nc and nh,2016-10,yeah i get that argument at this point i d ...,2,10
1,Tr-2,you do know west teams play against west teams...,2016-11,the blazers and mavericks the wests and see...,-4,11
2,Tr-3,they were underdogs earlier today but since g...,2016-09,they re favored to win,3,09
3,Tr-4,this meme isn t funny none of the new york ni...,2016-10,deadass don t kill my buzz,-8,10
4,Tr-5,i could use one of those tools,2016-12,yep can confirm i saw the tool they use for th...,6,12

In [464]:
df['count_comment'] = df['comment'].str.split().str.len()
df['count_parent_comment'] = df['parent_comment'].str.split().str.len()


df_1['count_comment'] = df_1['comment'].str.split().str.len()
df_1['count_parent_comment'] = df_1['parent_comment'].str.split().str.len()

In [465]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [466]:
df['count_comment_after_stop'] = df['comment'].str.split().str.len()
df['count_parent_comment_after_stop'] = df['parent_comment'].str.split().str.len()
df['count_comment_after_stop'] = df['comment'].str.split().str.len()
df['count_parent_comment_after_stop'] = df['parent_comment'].str.split().str.len()

df_1['count_comment_after_stop'] = df_1['comment'].str.split().str.len()
df_1['count_parent_comment_after_stop'] = df_1['parent_comment'].str.split().str.len()
df_1['count_comment_after_stop'] = df_1['comment'].str.split().str.len()
df_1['count_parent_comment_after_stop'] = df_1['parent_comment'].str.split().str.len()

In [467]:
freq_comment = pd.Series(' '.join(df['comment']).split()).value_counts()[:10]
freq_parent_comment = pd.Series(' '.join(df['parent_comment']).split()).value_counts()[:10]

freq_comment_1 = pd.Series(' '.join(df_1['comment']).split()).value_counts()[:10]
freq_parent_comment_1 = pd.Series(' '.join(df_1['parent_comment']).split()).value_counts()[:10]

In [468]:
freq_comment = list(freq_comment.index)
df['comment'] =df['comment'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_comment))

freq_comment_1 = list(freq_comment_1.index)
df_1['comment'] =df_1['comment'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_comment_1))

In [469]:
freq_parent_comment = list(freq_parent_comment.index)
df['parent_comment'] =df['parent_comment'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_parent_comment))


freq_parent_comment_1 = list(freq_parent_comment_1.index)
df_1['parent_comment'] =df_1['parent_comment'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_parent_comment_1))

In [470]:
from textblob import TextBlob
df['comment'][:5].apply(lambda x: str(TextBlob(x).correct()))
df['parent_comment'][:5].apply(lambda x: str(TextBlob(x).correct()))

df_1['comment'][:5].apply(lambda x: str(TextBlob(x).correct()))
df_1['parent_comment'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                    so now know ve sold my soul devil
1    entire continent europe but agent they from ru...
2       girl drinks whole beer without using her hands
3                          mr someone depends fas over
4                  are there still spots open for this
Name: parent_comment, dtype: object

In [471]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['parent_comment'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df['comment'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

df_1['parent_comment'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df_1['comment'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                   brb gonna farm my homu
1                                      til russia in europ
2                            glad they film thi with an mm
3                              but what about cinemat feel
4                                    spot left as of today
5                more like white flag becaus they appropri
6                                        but too much work
7                                  will have look into thi
8        so clearli system environment degrad of coral ...
9                            ve ruin perfectli fine pictur
10                                                no never
11                                               metta era
12       love how he smoothli stroke those dong opposit...
13       gotta make sure u kno who alpha here so next t...
14       what if kd intern sabotag warrior on our behal...
15              last episod of bate motel though creepi af
16                                            r thathappen
17                                         like but physic
18                           but thi citi so should expect
19       nik need go fuck away we took chanc on him he ...
20                                            que surpresa
21        d halo he threw lot of grenad right befor he die
22                               shame she not more orgasm
23                                                   shade
24                 noth they will keep him same sinc he op
25       well donald trump if had bigger hand wouldn t ...
26                   actual window gui element cuck faggot
27        not see whole lot of chipotl gang member in here
28                  basic sandwich bread slice extra thick
29       just log in with multipl bot account downvot s...
                               ...
29970                           idk mayb breitbart infowar
29971                                            r bee_irl
29972                            liter unplay fuck ubisoft
29973    m curiou if anyon els thi way but doe anyon fe...
29974    yeah peopl went saw him in becaus he wa in sho...
29975                 he tweet without fact tweeterinchief
29976                                             run hill
29977                             holi shit guy castro did
29978                                  exercis for degener
29979                                                 word
29980                                meesa call darth bink
29981                           pleas share jog badg km pl
29982    what if win team onli got shot on goal score i...
29983                            m toxic nobodi will notic
29984    may as well write on one of your own my man co...
29985                                         panic wrestl
29986              believ see right befor batman intro too
29987    realli impress can have sub dedic mock stupid ...
29988      my legaci gt will be with me while longer guess
29989                          basic still won t buy happi
29990                                             drop thi
29991
29992                                           no not yet
29993       friendhip with hugo over anthoni my friend now
29994                build load of softwar onli know about
29995    person don t consid masturb in park as sexual ...
29996                poll are liter rape jewish conspiraci
29997                                               canada
29998    ye have significantli more them half of voter ...
29999                                     have sex with me
Name: comment, Length: 30000, dtype: object

In [472]:
from textblob import Word
df['parent_comment'] =df['parent_comment'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['comment'] =df['comment'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

df_1['parent_comment'] =df_1['parent_comment'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df_1['comment'] =df_1['comment'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [473]:
df.head()

,UID,comment,date,parent_comment,score,month,count_comment,count_parent_comment,count_comment_after_stop,count_parent_comment_after_stop
0,Tr-1,nc nh,2016-10,yeah get argument at this point d prefer she l...,2,10,3,18,3,18
1,Tr-2,do know west team play against west team more ...,2016-11,blazer maverick west seed did not even carry g...,-4,11,14,25,14,25
2,Tr-3,they were underdog earlier today but since gro...,2016-09,they re favored win,3,09,19,5,19,5
3,Tr-4,this meme isn t funny none new york nigga one are,2016-10,deadass don t kill my buzz,-8,10,13,6,13,6
4,Tr-5,could use one those tool,2016-12,yep can confirm saw tool they use for wa made ...,6,12,7,18,7,18

In [474]:
df_1.head()

,UID,comment,date,parent_comment,month,count_comment,count_parent_comment,count_comment_after_stop,count_parent_comment_after_stop
0,Te-1,brb gonna farm my homu,2016-10,so now know ve sold my soul devil,10,5,12,5,12
1,Te-2,til russia in europe,2016-10,entire continent europe but arent they from ru...,10,5,10,5,10
2,Te-3,glad they filmed this with an mm,2016-10,girl drink whole beer without using her hand,10,7,8,7,8
3,Te-4,but what about cinematic feel,2016-10,mrw someone defends fps over,10,6,5,6,5
4,Te-5,spot left a of today,2016-10,are there still spot open for this,10,5,7,5,7

In [475]:
df.drop('comment', axis=1, inplace=True)
df.drop('parent_comment', axis=1, inplace=True)
df.drop('date', axis=1, inplace=True)


df_1.drop('comment', axis=1, inplace=True)
df_1.drop('parent_comment', axis=1, inplace=True)
df_1.drop('date', axis=1, inplace=True)

In [476]:
df.drop('UID', axis=1, inplace=True)

In [477]:
idn=df_1['UID']

In [478]:
df_1.drop('UID', axis=1, inplace=True)

In [552]:
df.head()

,month,count_comment,count_parent_comment,count_comment_after_stop,count_parent_comment_after_stop,diff
0,10,3,18,3,18,-15
1,11,14,25,14,25,-11
2,09,19,5,19,5,14
3,10,13,6,13,6,7
4,12,7,18,7,18,-11

In [570]:
df['diff_']=-df['count_comment']+df['count_parent_comment']

In [571]:
df_1['diff_']=-df_1['count_comment']+df_1['count_parent_comment']

In [572]:
df_1.head()

,month,count_comment,count_parent_comment,count_comment_after_stop,count_parent_comment_after_stop,diff,diff_
0,10,5,12,5,12,-7,7
1,10,5,10,5,10,-5,5
2,10,7,8,7,8,-1,1
3,10,6,5,6,5,1,-1
4,10,5,7,5,7,-2,2

In [481]:
from sklearn.linear_model import LinearRegression

In [482]:
from sklearn.linear_model import Lasso

In [483]:
from sklearn.ensemble import GradientBoostingRegressor

In [484]:
 from sklearn.model_selection import train_test_split

In [485]:
y=df['score']

In [486]:
df.drop('score', axis=1, inplace=True)

In [573]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size = 0.15)

In [574]:
clf = LinearRegression(n_jobs=10)

In [575]:
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=10, normalize=False)

In [576]:
from sklearn.metrics import mean_squared_error, r2_score

In [577]:
y_pred =  clf.predict(X_test)

In [578]:
# rmse = mean_squared_error(y, y_predicted)

In [579]:
# # print('f1 weighted Score on train data: ', f1_score(y_true=y_train, y_pred=clf.predict(X_train),average='weighted'))
# print('f1 weighted Score on test data: ', f1_score(y_true=y_test, y_pred=y_pred,average='weighted'))

In [580]:
y_pred =  clf.predict(df_1)

In [581]:
y_pred

array([7.56976891, 7.59563168, 7.70350676, ..., 8.01216003, 8.56259548,
       8.07052159])

In [582]:
y_pred[0]

7.569768912865684

In [583]:
result = pd.DataFrame(y_pred)

In [584]:
result.columns = ['score']
result.name="score"

In [585]:
result.head()

      score
0  7.569769
1  7.595632
2  7.703507
3  7.701295
4  7.634426

In [586]:
sub = pd.concat([idn, result], axis=1)

In [587]:
sub.head()

    UID     score
0  Te-1  7.569769
1  Te-2  7.595632
2  Te-3  7.703507
3  Te-4  7.701295
4  Te-5  7.634426

In [588]:
sub.to_csv(r"C:\Users\Admin\Desktop\Brainwaves\submission_acc.csv",index=False)